@use 'variables';
@use 'breakpoints.mixin';

.toolbar {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr auto;

    &__title {
        cursor: pointer;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        place-items: center start;
    }

    &__placeholder {
        content: '';
        padding-top: 64px;
        width: 100%;

        @include breakpoints.media-breakpoint-down(xs) {
            padding-top: 56px;
        }
    }

    &__login-form,
    &__login-form form {
        display: grid;
        grid-auto-flow: row;
    }

    &__login-form {
        grid-gap: variables.$spacer-2;
    }
}
