<mat-toolbar class="toolbar" color="primary">
    <div class="toolbar__title" [routerLink]="'/'">
        <mat-icon>local_fire_department</mat-icon>
        <span class="pl-2">Fine Ass(upol) App</span>
    </div>
    <button mat-icon-button class="toolbar__login-menu" #menuTrigger="matMenuTrigger" [mat-menu-trigger-for]="loginMenu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #loginMenu>
        <div class="toolbar__login-form p-2" (click)="$event.stopPropagation()" *ngIf="showLoginButton$ | async">
            <button mat-raised-button [disabled]="loading$ | async" (click)="signInWithGoogle()">
                <mat-icon class="pr-1">login</mat-icon>
                Sign in with Google
                <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
            </button>

            <mat-divider></mat-divider>

            <form [formGroup]="emailPasswordLoginForm" (ngSubmit)="signInWithEmailPassword()" (keydown.tab)="$event.stopPropagation()">
                <h3>Sign in with email</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" required />
                    <mat-error *ngIf="email?.hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="email?.hasError('email')">Please type a valid email</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" required />
                    <button type="button" matSuffix mat-icon-button (click)="showPassword = !showPassword" tabindex="-1">
                        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="password?.hasError('required')">This field is required</mat-error>
                </mat-form-field>

                <mat-error class="mb-2" *ngIf="signInError">
                    {{ signInError.message }}
                </mat-error>

                <button mat-raised-button [disabled]="emailPasswordLoginForm.invalid || (loading$ | async)">
                    Sign in
                    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
                </button>
            </form>

            <a class="toolbar__sign-up-link" href="javascript:void(0)" [routerLink]="'/sign-up'">Sign up</a>
        </div>

        <div class="toolbar__login-form p-2" (click)="$event.stopPropagation()" *ngIf="showLogoutButton$ | async">
            <button mat-raised-button (click)="signOut()">
                Sign out
                <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
            </button>
        </div>
    </mat-menu>
</mat-toolbar>
<div class="toolbar-placeholder"></div>
